{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{% static 'proyectos/css/estilos.css' %}">
</head>
<body>
    <div class="contenedor">
        <h1>{{ titulo }}</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <img id="vista-previa" src="#" alt="Vista previa">

            {{ formulario.titulo.label_tag }}
            {{ formulario.titulo }}

            {{ formulario.descripcion.label_tag }}
            {{ formulario.descripcion }}

            <label>Imagen</label>
            <input type="file" name="imagen" accept="image/*" onchange="mostrarVistaPrevia(this)">

            {{ formulario.enlace.label_tag }}
            {{ formulario.enlace }}

            {{ formulario.categoria.label_tag }}
            {{ formulario.categoria }}

            <button type="submit">Guardar</button>
        </form>
        <p style="margin-top:20px;"><a class="btn" href="{% url 'proyectos:lista' %}">← Volver</a></p>
    </div>
    <script src="{% static 'proyectos/js/vista_previa.js' %}"></script>
</body>
</html>